{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    table,th,td {
        font-size: 0.7rem;
        font-family: sans-serif;
    }
    th {
        text-align: center;
        background-color: blue;
        color: white;
        font: 1.5rem;
        font-weight: bolder;
    }
</style>
    <h1>{{ h1 }}</h1>

    <table class="table table-bordered">
      <thead rowspan="2">
      <tr>
  <th rowspan="2">{% if caption is not defined %}{% set caption = 'Cap' %}{% endif %}{{ caption }}</th>
        <th rowspan="2">Descripción</th>
        <th colspan="2">Presupuesto inicial</th>
        <th colspan="2">Presupuesto liquidado</th>
        <th colspan="2">Desviación neta</th>
        <th rowspan="2">Desviación en más</th>
        <th rowspan="2">Desviación en menos</th>
      </tr>
      <tr>
        <th>Importe</th>
        <th>%</th>
        <th>Importe</th>
        <th>%</th>
        <th>Importe</th>
        <th>%</th>
      </tr>
      </thead>
      <tbody>
        {% set totalPercentInit = 0 %}{% set totalPercentCurrent = 0 %}
        {% for chapter in totals.chapter %}
          <tr>
            <td><a href="{{ path('app_report_compare_chapter', {'code': chapter.chapter.code })}}" title="Comparativa interanual capítulo {{ chapter.chapter.code }}">{{ chapter.chapter.code }}</a></td>
            <td>{{ chapter.chapter.description }}</td>
            <td class="text-right">{{ chapter.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{{ (chapter.totalInit * 100 / totals.totalInit)|number_format(2,  ',', '.') }}%</td>
            <td class="text-right">{{ chapter.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{{ totals.totalCurrent>0?(chapter.totalCurrent * 100 / totals.totalCurrent)|number_format(2,  ',', '.') ~ '%':'--' }}</td>
            <td class="col-2 border text-right">{{ (chapter.totalCurrent - chapter.totalInit)|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{{ ((chapter.totalCurrent - chapter.totalInit) / (totals.totalCurrent - totals.totalInit) * 100)|number_format(2,  ',', '.') }}%</td>
            <td class="col-2 border text-right">{{ chapter.devPos|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="col-2 border text-right">{{ chapter.devNeg|number_format(2, ',', '.') }}&nbsp;€</td>
          </tr>
        {% endfor %}
        <tr class="bg-primary font-weight-bold">
            <td></td>
            <td>TOTAL</td>
            <td class="text-right">{{ totals.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{{ (totals.totalInit * 100 / totals.totalInit)|number_format(2,  ',', '.') }}%</td>
            <td class="text-right">{{ totals.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{{ totals.totalCurrent>0 ? (totals.totalCurrent * 100 / totals.totalCurrent)|number_format(2,  ',', '.') ~ '%' : '--' }}</td>
            <td class="col-2 border text-right">{{ (totals.totalCurrent - totals.totalInit)|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{{ ((totals.totalCurrent - totals.totalInit) / (totals.totalCurrent - totals.totalInit) * 100)|number_format(2,  ',', '.') }}%</td>
            <td class="col-2 border text-right">{{ totals.devPos|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="col-2 border text-right">{{ totals.devNeg|number_format(2, ',', '.') }}&nbsp;€</td>
        </tr>
      </tbody>
    </table>

{% endblock %}
