{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    table,th,td {
        font-size: 0.7rem;
        font-family: sans-serif;
    }
    th {
        text-align: center;
        background-color: blue;
        color: white;
        font: 1.5rem;
        font-weight: bolder;
    }
</style>
    <h1>{{ h1 }}</h1>

    <table class="table table-bordered">
      <thead rowspan="2">
      <tr>
        <th rowspan="1">Año</th>
        {#<th>{% if caption is not defined %}{% set caption = 'Código' %}{% endif %}{{ caption }}</th>#}
        <th rowspan="1">Descripción</th>
        <th colspan="1">Presupuesto inicial</th>
        <th colspan="1">Variación inicial</th>
        <th colspan="1">Presupuesto liquidado</th>
        <th colspan="1">Variación liquidado</th>
        <th colSpan="1">Variación inicial-liquidado</th>
      </tr>
      </thead>
      <tbody>
        {% set totalPercentInit = 0 %}{% set totalPercentCurrent = 0 %}
        {% for object in totals %}
          <tr>
            <td>{{ object.item.year }}</td>
            {#<td>{{ object.caption.code }}</td>#}
            <td>{{ object.caption.description }}</td>
            <td class="text-right">{{ object.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{% if prevInit is defined and prevInit > 0 %}{{ ((object.totalInit*100/prevInit)-100)|number_format(2, ',', '.') }}%
              {%- else -%}--{% endif %}{% set prevInit = object.totalInit %}</td>
            {#<td>{{ (object.totalInit * 100 / totals.totalInit)|number_format(2,  ',', '.') }}%</td>#}
            <td class="text-right">{{ object.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            <td>{% if prevCurrent is defined and prevCurrent > 0 and object.totalCurrent %}{{ ((object.totalCurrent*100/prevCurrent)-100)|number_format(2, ',', '.') }}%
              {%- else -%}--{% endif %}{% set prevCurrent = object.totalCurrent %}</td>
            {#<td>{{ totals.totalCurrent>0?(object.totalCurrent * 100 / totals.totalCurrent)|number_format(2,  ',', '.') ~ '%':'--' }}</td>#}
            <td>{% if prevCurrent is defined and prevInit > 0 and prevCurrent > 0 %}{{ (((prevCurrent/prevInit)-1)*100)|number_format(2, ',', '.') }}%
              {%- else -%}--{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
