{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    table,th,td {
        font-size: 0.7rem;
        font-family: sans-serif;
    }
    th {
        text-align: center;
        background-color: blue;
        color: white;
        font: 1.5rem;
        font-weight: bolder;
    }
</style>
    <h1>{{ h1 }}</h1>
    {% if items is not defined -%}
      {%- set codetype = 'subconcept' -%}
    {%- else -%}
      {%- if items.progs.codes|length > 0 -%}
      {% set codetype = 'programm' %}
      {% else %}
      {% set codetype = 'center' %}
      {% endif %}
    {%- endif -%}
    <table class="table table-bordered">
      <thead rowspan="2">
      <tr>
        <th>{% if caption is not defined %}{% set caption = 'Cap' %}{% endif %}{{ caption }}</th>
        <th rowspan="1">Descripción</th>
        <th colspan="1">Presupuesto inicial</th>
        <th colspan="1">Presupuesto liquidado</th>
        <th colspan="1">Desviación neta</th>
        <th rowspan="1">Desviación en más</th>
        <th rowspan="1">Desviación en menos</th>
      </tr>
      </thead>
      <tbody>
        {% for object in totals.caption.caption %}
          <tr>
            <td><a href="{{ path('app_report_compare_' ~ codetype, {'code': object.item.code })}}" title="Comparativa interanual subconcepto {{ object.item.code }}">{{ object.item.code }}</a></td>
            <td>{{ object.item.description }}</td>
            <td class="text-right">{{ object.total.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="text-right">{{ object.total.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = object.total.totalCurrent - object.total.totalInit %}<td class="col-2 border {{ (result<0?'text-danger ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = object.total.devPos %}<td class="col-2 border {{ (result<0?'text-danger ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = object.total.devNeg %}<td class="col-2 border {{ (result<0?'text-danger ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
          </tr>
        {% endfor %}
        <tr class="bg-primary font-weight-bold">
            <td></td>
            <td>TOTAL</td>
            <td class="text-right">{{ totals.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="text-right">{{ totals.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = totals.totalCurrent - totals.totalInit %}<td class="col-2 border {{ (result<0?'text-dangerX ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = totals.devPos %}<td class="col-2 border {{ (result<0?'text-dangerX ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = totals.devPos %}<td class="col-2 border {{ (result<0?'text-dangerX ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
        </tr>
      </tbody>
    </table>


    <table class="table table-bordered">
      <thead rowspan="2">
      <tr>{% set caption = 'Progr.' %}
        <th>{% if caption is not defined %}{% set caption = 'Cap' %}{% endif %}{{ caption }}</th>
        <th rowspan="1">Descripción</th>
        <th colspan="1">Presupuesto inicial</th>
        <th colspan="1">Presupuesto liquidado</th>
        <th colspan="1">Desviación neta</th>
        <th rowspan="1">Desviación en más</th>
        <th rowspan="1">Desviación en menos</th>
      </tr>
      </thead>
      <tbody>
        {% for object in totals.prog.prog %}
        {% if (object.total.totalCurrent + object.total.totalInit) > 0 %}
          <tr>
            <td>{{ object.item.code }}</td>
            <td>{{ object.item.description }}</td>
            <td class="text-right">{{ object.total.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="text-right">{{ object.total.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = object.total.totalCurrent - object.total.totalInit %}<td class="col-2 border {{ (result<0?'text-danger ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = object.total.devPos %}<td class="col-2 border {{ (result<0?'text-danger ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
            {% set result = object.total.devNeg %}<td class="col-2 border {{ (result<0?'text-danger ':'') }}text-right">{{ result|number_format(2, ',', '.') }}&nbsp;€</td>
          </tr>
        {% endif %}
        {% endfor %}
        <tr class="bg-primary font-weight-bold">
            <td></td>
            <td>TOTAL</td>
            <td class="text-right">{{ totals.totalInit|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="text-right">{{ totals.totalCurrent|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="col-2 border text-right">{{ (totals.totalCurrent - totals.totalInit)|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="col-2 border text-right">{{ totals.devPos|number_format(2, ',', '.') }}&nbsp;€</td>
            <td class="col-2 border text-right">{{ totals.devNeg|number_format(2, ',', '.') }}&nbsp;€</td>
        </tr>
      </tbody>
    </table>

{% endblock %}
