{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ h1 }}</h1>

    <div class="row bg-info">
        <div class="col-2"></div>
        <div class="col-2 text-center font-weight-bold">Presupuesto inicial</div>
        <div class="col-2 text-center font-weight-bold">Presupuesto liquidado</div>
        <div class="col-2 text-center font-weight-bold">Desviación neta</div>
        <div class="col-2 text-center font-weight-bold">Desviación en más</div>
        <div class="col-2 text-center font-weight-bold">Desviación en menos</div>
    </div>
    <div class="row">
        <div class="col-2 border">TOTAL</div>
        <div class="col-2 border text-end">{{ totals.totalInit|number_format(2, ',', '.') }} €</div>
        <div class="col-2 border text-end">{{ totals.totalCurrent|number_format(2, ',', '.') }} €</div>
        <div class="col-2 border text-end">{{ (totals.totalCurrent - totals.totalInit)|number_format(2, ',', '.') }} €</div>
        <div class="col-2 border text-end">{{ totals.devPos|number_format(2, ',', '.') }} €</div>
        <div class="col-2 border text-end">{{ totals.devNeg|number_format(2, ',', '.') }} €</div>
    </div>

{% endblock %}
