<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenido a la aplicación de presupuestos de Audita Sanidad{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        {% endblock %}
    </head>

    <body>
    <style>
        header {
            min-height: 80px;
        }
        thead {
          --bs-table-bg: blue;
          --bs-table-color-state: white;
          text-align: center;
          background-color: blue;
          color: white;
          font: 1.5rem;
          font-weight: bolder;
    </style>
      {% block flashes %}
        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
      {% endblock %}
    <header>
    {% block header %}
	   {% include 'header.html.twig' %}
	{% endblock %}
    </header>

    {# Una vez acabo el header, container-fluid hasta el final del body #}
    <main class="container mt-40">
        {% block body %}{% endblock %}
    <main>
      {% block javascripts %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {#<script src="{{ asset('components/jquery.slim.js') }}"></script>#}
        <!-- The bootstrap bundle includes the optional popper.js -->
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {# encore_entry_script_tags('app') #}
      {% endblock %}
    </body>
</html>
